<?xml version="1.0"?>
<!--
/**
 * @author Barwenock
 * @copyright Copyright (c) Barwenock
 * @package Video Import for Magento 2
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="barwenock_videoimport_import_videos"
                      xsi:type="object">\Barwenock\VideoImport\Console\Command\ImportVideo
                </item>
            </argument>
        </arguments>
    </type>

    <type name="\Barwenock\VideoImport\Model\VideoImportList">
        <arguments>
            <argument name="providers" xsi:type="array">
                <item name="youtube" xsi:type="object">\Barwenock\VideoImport\Service\ApiYoutubeImporter</item>
                <item name="vimeo" xsi:type="object">\Barwenock\VideoImport\Service\ApiVimeoImporter</item>
            </argument>
        </arguments>
    </type>
</config>
