<?xml version="1.0"?>
<!--
/**
 * @author Barwenock
 * @copyright Copyright (c) Barwenock
 * @package Video Import Export for Magento 2
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="video" frontName="video">
            <module name="Barwenock_VideoImportExport" before="Magento_Backend"/>
        </route>
    </router>
</config>
